{% extends "base_generic.html" %}

{% load static %}

{% block content %}


  {% if downloadurl %}
  <h4>File can be downloaded at: <a href="{{ downloadurl }}">Click to Download</a></h4>
  {% endif %}

  <table class="table" style="width: 100%;"  >
    <thead>
      <tr role="row">
        <th style="width: 50px;">Cluster Index</th>
        <th style="width: 50px;">Number of Each Cluster</th>
        <th style="width: 300px;">Keywords</th>
      </tr>
    </thead>
    <tbody> 
        {% for ind in clusters %}
                <tr>
                    <td>{{ind.index}}</td>
                    <td>{{ ind.numObs }}</td>
                    <td>{{ ind.keyword }}</td>
                </tr>
      {% endfor %}
    </tbody>
  </table>
  <p></p>
  <p> * This tool is based on 
  Varghese, A., Cawley, M. & Hong, T. <a href="https://doi.org/10.1007/s10669-017-9670-5">Supervised clustering for automated document classification and prioritization: a case study using toxicological abstracts. </a> Environ Syst Decis (2018) 38: 398-414. 
  </p>
  <p> * For more information and tools, please visit <a href="https://infoguides.gmu.edu/text-mining/begin">Digital Scholarship infoguides about Text Mining </a>
  </p>
{% endblock %}